Package: greyrhinosec-xray-c2-client
Version: 1.0.0
Section: net
Priority: optional
Architecture: amd64
Maintainer: You <admin@greyrhinosec.com>
Description: GreyRhinoSec Stealth Xray C2 Proxy Client (.deb). Systemd, watchdog, full branding.
